/* ----------------------------------------------------------------------------------- */

/* Montando um bloco inicial para apresentação da página */
.inicio {
    font-family: 'Titillium Web', sans-serif;
    padding: 175px; /* Alterando o tamanho da área ocupada pelo conteúdo */
    text-align: center; 
    background-image: linear-gradient(rgba(0, 0, 0, 0.795), rgba(0, 0, 0, 0.5)), url("https://thumbs.gfycat.com/DelightfulParchedGermanspaniel-size_restricted.gif"); /* Colocando GIF de fundo */
    background-position: center; /* Centralizando GIF de fundo */
    background-repeat: no-repeat; /* Forçando o GIF de fundo a não se repetir pelo bloco */
    background-size: cover; /* Mudando as dimensões do GIF para cobrir o bloco inteiramente */
    color: #ffffff;
    font-size: 50px;
}

.inicio h1 {
  font-size: 150px;
  font-family: 'Fugaz One', cursive;
}

  /* Estilizando o botão de link para o trailer do filme */
  .inicio a {
    background-color: #232323;
    border: none; /* Excluíndo as bordas do botão */
    color: white;
    padding: 20px 50px;
    border-radius: 8px; /* Arredondando as diagonais do botão */
    text-align: center;
    display: inline-block;
    text-decoration: none;
    font-size: 25px;
    transition-duration: 0.4s; /* Duração da transição de mudança */
    cursor: pointer; /* Alterando o ícone do mouse */
  }

  /* Especificando instruções para quando o mouse estiver em cima do botão */
  .inicio a:hover {
    background-color: #646464;
    color: white;
    text-decoration: none;
  }

  .card-img-top:hover{
    transition: transform .2s;
    transform: scale(1.01);
  }


/* ----------------------------------------------------------------------------------- */

.nav-item {
  font-family: 'Fugaz One', cursive;
}

.container {
  font-family: 'Roboto', sans-serif;
}

.container .text-justify {
  font-size: 20px
}

.container h1 {
  font-family: 'Titillium Web', sans-serif;
  font-size: 70px
}

.container h5 {
  font-family: 'Titillium Web', sans-serif;
}

/* ----------------------------------------------------------------------------------- */